<div class="row wrapper" id="techdetails">
    <div class="container wrapper ng-scope" id="details_tech_name">

        <h1> {{defineImage(details.data.tech_name, details.data.tech_id)}}
            <img class="img_detail" id="img_{{details.data.tech_id}}">{{details.data.tech_name}}</h1>
        <span class="label label-warning" uib-tooltip="Version">{{details.data.tech_version}}</span><span class="label label-info" uib-tooltip="Kategorien">{{details.data.tech_cat}}</span>
        <br/>
        <div id="legende">
            <b>Kategorie</b>
            <div  class="kreis Framework"> <p class="text">Framework</p></div>
            <div  class="kreis library"> <p class="text">Bibliothek</p></div>
            <div  class="kreis language"><p class="text"> Sprache</p></div>
            <div  class="kreis Modul"> <p class="text">Modul</p></div>
            <div  class="kreis tool"> <p class="text">Tools</p></div>
            <div  class="kreis other"> <p class="text">Other</p></div>
         <b>Abhängigkeit</b><br/>
            <hr class="link Direktionale "> <p class="text_link">Direktionale</p>
            <hr class="link Feature-Direktionale"> <p class="text_link">Feature</p>
            <hr class="link Austauschbare-Direktionale"><p class="text_link">Austauschbare</p>
            <b>Beziehung</b><br/>
            <hr class="link basedOn "> <p class="text_link">Basiert auf</p>
            <hr class="link notCompatible "> <p class="text_link">Nicht Kompatibel </p>
            <hr class="link Erweiterung"><p class="text_link">Erweiterungen</p>
        </div>

        <div class="row" ng-controller="MainController">
            <div class="col-lg-12 graph">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        <div id="pop" hidden>  <p ng-bind="d"></p></div>

        </div>

        <!--ToDO:  X in Linie für nicht kompatibel-->
            <div class="row">
            <div class="col-lg-8">
                <p>{{details.data.tech_desc}}</p><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Vorteile</h4>
                        <ul ng-repeat="pro in details.data.pros">
                            <li>{{pro}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4>Nachteile</h4>
                        <ul ng-repeat="con in details.data.cons">
                            <li>{{con}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Links</h4>
                <ul ng-repeat="result in details.data.links">
                    <li><a href="{{result}}" target="_blank">{{result}}</a></li>
                </ul>
            </div>

        </div><br>
        <div class="row">
            <div class="col-lg-12">
                <h4>Häufige Kombinationen</h4>
                <div class="row">
                    <div class="col-md-2" ng-repeat="kombi in beziehung.data | filter : {b_type: 'Kombination'}">
                        <a class="btn" go-click="/techdetails/{{kombi.tech_id}}/{{kombi.tech_name}}" title="Edit"
                           data-target="#techdetails">
                        {{defineImage(kombi.tech_name, kombi.tech_id)}}
                        <img class="img_kasten" id="img_{{kombi.tech_id}}"><br/>{{kombi.tech_name}}</a>
                    </div>
                </div>
                <div ng-if="(beziehung.data | filter : {b_type: 'Kombination'})== null || (beziehung.data | filter : {b_type: 'Kombination'}).length === 0">

                      Keine häufigen Kombinationen vorhanden

                </div>

            </div>
        </div><br>
        <div class="row ">
            <div class="col-lg-6">
                <h4>Empfehlung durch Entwickler</h4>
                <div class="row">
                    <div class="col-md-2"  ng-repeat="empfehl in beziehung.data | filter : {b_type: 'Empfehlung'}">
                        <a class="btn" go-click="/techdetails/{{empfehl.tech_id}}/{{empfehl.tech_name}}" title="Edit"
                           data-target="#techdetails">
                        {{defineImage(empfehl.tech_name, empfehl.tech_id)}}
                        <img class="img_kasten" id="img_{{empfehl.tech_id}}"><br/>{{empfehl.tech_name}}</a>
                    </div>

                </div>
                <div ng-if="(beziehung.data | filter : {b_type: 'Empfehlung'})== null || (beziehung.data | filter : {b_type: 'Empfehlung'}).length === 0">

                        Keine Empfehlungen vorhanden

                </div>

            </div>
            <div class="col-lg-6">
                <h4>Ermöglicht diese Technologien</h4>
                <div class="row">
                    <div class="col-md-2" ng-repeat="erm in beziehung.data | filter: {b_type: 'Ermöglichung'}">
                        <a class="btn" go-click="/techdetails/{{erm.tech_id}}/{{erm.tech_name}}" title="Edit"
                           data-target="#techdetails">
                        {{defineImage(erm.tech_name, erm.tech_id)}}
                        <img class="img_kasten" id="img_{{erm.tech_id}}"><br/>{{erm.tech_name}}</a>
                    </div>
                </div>
                <div ng-if="(beziehung.data | filter : {b_type: 'Ermöglichung'})== null || (beziehung.data | filter : {b_type: 'Ermöglichung'}).length === 0">
                        Keine Technologien vorhanden, die durch {{details.data.tech_name}} ermöglicht werden.
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-lg-12">
                <h4>Alternativen</h4>
                <div class="row">
                    <div class="col-md-2" ng-repeat="alt in beziehung.data | filter : {b_type: 'Alternative'}">
                        <a class="btn" go-click="/techdetails/{{alt.tech_id}}/{{alt.tech_name}}" title="Edit"
                                data-target="#techdetails">
                        {{defineImage(alt.tech_name, alt.tech_id)}}
                        <img class="img_kasten" id="img_{{alt.tech_id}}"><br/>{{alt.tech_name}}</a>
                        </div>
                </div>
                <div ng-if="(beziehung.data | filter : {b_type: 'Alternative'})== null || (beziehung.data | filter : {b_type: 'Alternative'}).length === 0">

                    Keine Alternativen vorhanden.

                </div>
            </div>
        </div><br><br>
    </div>
</div>

