<div class="row wrapper" id="techdetails">
    <div class="container wrapper ng-scope" id="details_tech_name">
        <h1>{{details.data.tech_name}}</h1>
        <div class="row" ng-controller="MainController">
            <div class="col-lg-12 graph">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </div>
        <!--ToDO: version miteinbauen-->
        <!--ToDO: Logos miteinbauen-->
        <!--ToDO: Tag für Category  miteinbauen-->
        <!--ToDO: Popup für weitere Informationen, mit Link zu der TEchnologie?-->
        <!--ToDO: Beziehung mit ein bauen; Basiert auf, Nicht kompatibel (mit X in Linie?), Ermöglichung (vllt nur für Tool wichtig?), Empfehlung (vllt im Text?-->
        <div class="row">
            <div class="col-lg-8">
                <p>{{details.data.tech_desc}}</p><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Vorteile</h4>
                        <ul ng-repeat="pro in details.data.pros">
                            <li>{{pro}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4>Nachteile</h4>
                        <ul ng-repeat="con in details.data.cons">
                            <li>{{con}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Links</h4>
                <ul ng-repeat="result in details.data.links">
                    <li><a href="{{result}}" target="_blank">{{result}}</a></li>
                </ul>
            </div>
            <!--ToDO: Alternativen-->
            <!--ToDO: Häufige Kombination-->
        </div>
    </div>
</div>

