<div class="row wrapper" id="techdetails">
    <div class="container wrapper ng-scope" id="details_tech_name">

        <h1> {{defineImage(details.data.tech_name, details.data.tech_id)}}
            <img class="img_detail" id="img_{{details.data.tech_id}}">{{details.data.tech_name}}</h1>
        <div class="row" ng-controller="MainController">
            <div class="col-lg-12 graph">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>

        </div>
        <!--ToDO: version miteinbauen-->
        <!--ToDO: Tag für Category  miteinbauen-->
        <!--ToDO: Popup für weitere Informationen, mit Link zu der TEchnologie?-->
        <!--ToDO: Beziehung mit ein bauen; Basiert auf, Nicht kompatibel (mit X in Linie?), Ermöglichung (vllt nur für Tool wichtig?), Empfehlung (vllt im Text?-->
        <div class="row">
            <div class="col-lg-8">
                <p>{{details.data.tech_desc}}</p><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Vorteile</h4>
                        <ul ng-repeat="pro in details.data.pros">
                            <li>{{pro}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4>Nachteile</h4>
                        <ul ng-repeat="con in details.data.cons">
                            <li>{{con}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Links</h4>
                <ul ng-repeat="result in details.data.links">
                    <li><a href="{{result}}" target="_blank">{{result}}</a></li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Häufige Kombinationen</h4>
                <div class="row" ng-repeat="kombi in beziehung.data | filter : {b_type: 'Kombination'}">
                    <div class="col-md-2">
                        {{defineImage(kombi.tech_name, kombi.tech_id)}}
                        <img class="img_kasten" id="img_{{kombi.tech_id}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <h4>Alternativen</h4>
                <div class="row" ng-repeat="alt in beziehung.data | filter : {b_type: 'Alternative'}">
                    <div class="col-md-2">

                        {{defineImage(alt.tech_name, alt.tech_id)}}
                        <img class="img_kasten" id="img_{{alt.tech_id}}">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

