<div class="container wrapper " >

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Vorhandene Technologien</h2>
        </div>
    </div>
    <div class="row">


        <div class="alert alert-default input-group search-box">
     <span class="input-group-btn">
        <input type="text" class="form-control" placeholder="Suche nach Technologie" ng-model="search_query">
        </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">


            <!-- Table to show employee detalis -->
            <div class="table-responsive">
                <!--<table class="table table-hover" ng-show="search_query">-->

                <table class="table table-hover">
                    <tr>

                        <th>
                            <a ng-click="sortType = 'tech_name'; sortReverse = !sortReverse">
                                Technologie
                                <span ng-show="sortType == 'tech_name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tech_name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th> <a ng-click="sortType = 'tech_cat'; sortReverse = !sortReverse">
                            Kategorie
                            <span ng-show="sortType == 'tech_cat' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'tech_cat' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                        </th>
                        <th>Details ansehen
                        </th>

                    </tr>

                    <tr ng-repeat="detail in all.data | orderBy:sortType:sortReverse | filter:search_query ">
                        <td>{{defineImage(detail.tech_name, detail.tech_id)}}
                            <img class="img_small" id="img_{{detail.tech_id}}"><span>
                                 <a go-click="/techdetails/{{detail.tech_id}}/{{detail.tech_name}}" title="Edit"
                                         data-target="#techdetails">
                            {{detail.tech_name}}</a></span>
                          </td>

                        <td> {{detail.tech_cat}}
                        </td><td>
                            <!-- <a ng-href="#/techdetails/{{detail.tech_id}}">SAPUI5</a>-->

                            <button class="btn" go-click="/techdetails/{{detail.tech_id}}/{{detail.tech_name}}" title="Edit"
                                    data-target="#techdetails"><span
                                    class="glyphicon glyphicon-edit"></span></button>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>