<div class="container wrapper ">
<form class="form-horizontal" role="form" id="empForm">
    <h3 class="text-center">Entscheidungsunterstützung</h3>
    <!--ToDO: besseres multiselect-->
    <!--ToDO: Hilfetexte-->
    <!--ToDO: Rechts anzeigen was ausgewählt -->
    <!--ToDO: 'Keine Angabe' abfangen -->
    <div class="form-group">

        <label for="language" class="col-sm-3 control-label">Handelt es sich um ein neues Projekt oder ein bestehendes?</label>
        <div class="col-sm-9">
            <div class="radio">
                <label><input value="new" type="radio" name="projektart" ng-model="empInfo.projektart" />Neuimplementierung</label>
            </div>
            <div class="radio">
                <label><input value="old" type="radio" name="projektart" ng-model="empInfo.projektart" />Austausch</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">Welche Programmiersprachen sind dem Team bekannt?</label>
        <div class="col-sm-3">
            <select id="language" class="form-control" ng-model="empInfo.language"  multiple ng-multiple="true" ng-options="language.tech_name for language in languageList" >
            </select>
        </div>
    </div>


    <div class="form-group"  id="features">
        <label for="feat" class="col-sm-3 control-label">Welche neuen Features werden benötigt:</label>
        <div class="col-sm-3">
            <select id="feat" class="form-control" ng-model="empInfo.features"  multiple ng-multiple="true" ng-options="feature.f_name for feature in featureList" >
            </select>
        </div>

    </div>

        <div class="form-group abfrage_alt">

            <label for="techs" class="col-sm-3 control-label">Welche Technologien werden eingesetzt:</label>
            <div class="col-sm-3">
                <select id="techs" class="form-control" ng-model="empInfo.techs"  multiple ng-multiple="true" ng-options="techs.tech_name for techs in techsList" >
                </select>

            </div>

        </div>


    <div class="form-group  abfrage_alt"  id="features_alt">
        <label for="feat_alt" class="col-sm-3 control-label">Welche Features werden bereits genutzt:</label>
        <div class="col-sm-3">
            <select id="feat_alt" class="form-control" ng-model="empInfo.features_alt"  multiple ng-multiple="true" ng-options="feature.f_name for feature in featureList" >
            </select>
        </div>
    </div>


   <!-- <div class="form-group abfrage_alt">
        <label for="datenbank" class="col-sm-3 control-label">Welche Datenbank wird genutzt:</label>
        <div class="col-sm-3">
            <select id="datenbank" class="form-control" ng-model="empInfo.datenbank"  multiple ng-multiple="true">
                <option value="SAP HANA">SAP HANA</option>
                <option value="MySQL">MySQL</option>
                <option value="DB2">DB2</option>
            </select>
        </div>
    </div>
-->

    <!--Contraints: Java muss größer sein als VErsion 7.4... , Qualitätsattribute, derzeit eingesetzte Technologien -->
    <input type="submit" value="Empfehlung erhalten" class="btn btn-primary col-sm-offset-3"  ng-click="pressEmpf(empInfo)"/>
    <input type="reset" value="Zurücksetzen" ng-click="resetForm()" class="btn" /> <br/>
</form>


<div id="ergebnis" hidden>
    <h3 class="text-center">Empfehlung</h3>
    <b>Ihre Kriterien:</b>

    <span ng-repeat="kriterium in empInfo.language" class="label label-default">{{kriterium.tech_name}}</span>
    <span ng-repeat="kriterium in empInfo.features" class="label label-default">{{kriterium.f_name}}</span>
    <span ng-repeat="kriterium in vorhandeneFeatures" class="label label-default">{{kriterium.f_name}}</span>
    <span ng-repeat="kriterium in empInfo.techs" class="label label-default">{{kriterium.tech_name}}</span>
    <span ng-repeat="kriterium in empInfo.features_alt" class="label label-default">{{kriterium.f_name}}</span>
    <div class="row">


        <div class="alert alert-default input-group search-box">
     <span class="input-group-btn">
        <input type="text" class="form-control" placeholder="Suche nach Technologie" ng-model="search_query">
        </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Table to show employee detalis -->
            <div class="table-responsive">
                <!--<table class="table table-hover" ng-show="search_query">-->
                <table class="table table-hover">
                    <tr>
                        <th> <a ng-click="sortType = 'emp'; sortReverse = !sortReverse">
                            Rating
                            <span ng-show="sortType == 'emp' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'emp' && sortReverse" class="fa fa-caret-up"></span>
                            </a></th>
                        <th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Technolgie
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th><a ng-click="sortType = 'dependsOn'; sortReverse = !sortReverse">
                        Übereinstimmung
                        <span ng-show="sortType == 'dependsOn' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'dependsOn' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th>Details</th>

                    </tr>



                    <tr ng-repeat="detail in ergebnis | orderBy:sortType:sortReverse |  filter:search_query ">
                        <td>
                            {{stars(detail.name,detail.emp)}} <input type="hidden" class="hoehe {{detail.name}}" data-readonly/>
                         <!-- <div class="star-ratings-sprite">{{stars(detail.name,detail.emp)}}<span id="{{detail.name}}" class="star-ratings-sprite-rating"></span></div>-->
                            <br/><span>{{detail.emp}} von {{kriterien}}</span>

                        </td>
                        <td>
                            {{defineImage(detail.name, detail.id)}}
                            <img class="img_small" id="img_{{detail.id}}"> <span class="hoehe">{{detail.name}}</span>
                            <br/><br/><span ng-if="(detail.combinationWith.length>0)"><u>In Kombination mit:</u></span><br/>
                            <span ng-repeat="combi in detail.combinationWith">{{combi.tech}}<br/></span>
                        </td>
                        <td>
                            <span class="hoehe" >{{detail.dependsOn}}</span>
                            <br/><br/><span ng-if="(detail.combinationWith.length>0)"></span><br/>
                            <span ng-repeat="combif in detail.combinationWith">{{combif.feature}}<br/></span>
                        </td>
                        <td>
                            <!-- <a ng-href="#/techdetails/{{detail.tech_id}}">SAPUI5</a>-->
                            <button class="btn" go-click="/techdetails/{{detail.id}}/{{detail.name}}" title="Edit"
                                    data-target="#techdetails"><span
                                    class="glyphicon glyphicon-edit"></span></button>
                        </td>

                    </tr>

                </table>

               <span class="center"><b>{{empfehlung}}</b></span>
            </div>
        </div>
    </div>
</div>
</div>

<!--    <div class="form-group">
           <label for="firstName" class="col-sm-3 control-label">First Name</label>
           <div class="col-sm-6">
               <input type="text" id="firstName" class="form-control" ng-model="student.firstName" />
           </div>
           <div class="col-sm-3"></div>
       </div>
       <div class="form-group">
           <label for="lastName" class="col-sm-3 control-label">Last Name</label>
           <div class="col-sm-6">
               <input type="text" id="lastName" class="form-control" ng-model="student.lastName" />
           </div>
           <div class="col-sm-3"></div>
       </div>

       <div class="form-group">
           <label for="dob" class="col-sm-3 control-label">DoB</label>
           <div class="col-sm-2">
               <input type="date" id="dob" class="form-control" ng-model="student.DoB" />
           </div>
           <div class="col-sm-7"></div>
       </div>-->
<!-- <div class="col-sm-7">
        <span><b>Main Subjects</b></span>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="student.maths" />Maths</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="student.physics" />Physics</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"  ng-model="student.chemistry" />Chemistry</label>
        </div>
    </div>-->