<div class="container wrapper ">
<form class="form-horizontal" role="form" id="empForm">
    <h3 class="text-center">Entscheidungsunterstützung</h3>
    <!--ToDO: besseres multiselect-->
    <!--ToDO: Hilfetexte-->
    <!--ToDO: In Ergebnis Asuwahl anzeigen, als Badges mit x? -->
    <!--ToDO: 'Keine Angabe' abfangen -->
    <div class="form-group">

        <label for="language" class="col-sm-3 control-label">Handelt es sich um ein neues Projekt oder ein bestehendes?</label>
        <div class="col-sm-9">
            <div class="radio">
                <label><input value="new" type="radio" name="projektart" ng-model="empInfo.projektart" />Neuimplementierung</label>
            </div>
            <div class="radio">
                <label><input value="old" type="radio" name="projektart" ng-model="empInfo.projektart" />Austausch</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">Welche Programmiersprachen sind dem Team bekannt?</label>
        <div class="col-sm-3">
            <select id="language" class="form-control" ng-model="empInfo.language"  multiple ng-multiple="true" ng-options="language.tech_name for language in languageList" >
            </select>
        </div>
    </div>


    <div class="form-group"  id="features">
        <label for="feat" class="col-sm-3 control-label">Welche neuen Features werden benötigt:</label>
        <div class="col-sm-3">
            <select id="feat" class="form-control" ng-model="empInfo.features"  multiple ng-multiple="true" ng-options="feature.f_name for feature in featureList" >
            </select>
        </div>

    </div>

        <div class="form-group abfrage_alt">

            <label for="techs" class="col-sm-3 control-label">Welche Technologien werden eingesetzt:</label>
            <div class="col-sm-3">
                <select id="techs" class="form-control" ng-model="empInfo.techs"  multiple ng-multiple="true" ng-options="techs.tech_name for techs in techsList" >
                </select>

            </div>

        </div>


    <div class="form-group  abfrage_alt"  id="features_alt">
        <label for="feat_alt" class="col-sm-3 control-label">Welche Features werden bereits genutzt:</label>
        <div class="col-sm-3">
            <select id="feat_alt" class="form-control" ng-model="empInfo.features_alt"  multiple ng-multiple="true" ng-options="feature.f_name for feature in featureList" >
            </select>
        </div>

    </div>


    <div class="form-group abfrage_alt">
        <label for="datenbank" class="col-sm-3 control-label">Welche Datenbank wird genutzt:</label>
        <div class="col-sm-3">
            <select id="datenbank" class="form-control" ng-model="empInfo.datenbank"  multiple ng-multiple="true">
                <option value="SAP HANA">SAP HANA</option>
                <option value="MySQL">MySQL</option>
                <option value="DB2">DB2</option>
            </select>
        </div>
    </div>


    <!--Contraints: Java muss größer sein als VErsion 7.4... , Qualitätsattribute, derzeit eingesetzte Technologien -->
    <input type="submit" value="Empfehlung erhalten" class="btn btn-primary col-sm-offset-3"  ng-click="pressEmpf(empInfo)"/>
    <input type="reset" value="Zurücksetzen" ng-click="resetForm()" class="btn" /> <br/>
</form>


<div id="ergebnis" hidden>
    <h3 class="text-center">Empfehlung</h3>
    <!--<span>{{solution}}</span></td>-->
    <div class="row">


        <div class="alert alert-default input-group search-box">
     <span class="input-group-btn">
        <input type="text" class="form-control" placeholder="Suche nach Technologie" ng-model="search_query">
        </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <!-- Table to show employee detalis -->
            <div class="table-responsive">
                <!--<table class="table table-hover" ng-show="search_query">-->
                <table class="table table-hover">
                    <tr>
                        <th>Rating <span
                                class="glyphicon glyphicon-sort" ng-click="sortBy('rating')"></span>
                            <span class="sortorder" ng-show="propertyName === 'rating'" ng-class="{reverse: reverse}"></span></th>
                        <th>Technologie <span
                                class="glyphicon glyphicon-sort" ng-click="sortBy('name')"></span>
                            <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                            </th>
                        <th>Übereinstimmung <span
                            class="glyphicon glyphicon-sort" ng-click="sortBy('ueber')"></span>
                            <span class="sortorder" ng-show="propertyName === 'ueber'" ng-class="{reverse: reverse}"></span></th>
                        <th>Details</th>

                    </tr>



                    <tr ng-repeat="detail in ergebnis| filter:search_query | orderBy:propertyName:reverse">
                        <td>
                            {{stars(detail.name,detail.emp)}} <input type="hidden" class="{{detail.name}}" data-readonly/>
                         <!-- <div class="star-ratings-sprite">{{stars(detail.name,detail.emp)}}<span id="{{detail.name}}" class="star-ratings-sprite-rating"></span></div>-->
                            <span>{{detail.emp}} von {{kriterien}}</span>
                        </td>
                        <td>
                            {{defineImage(detail.name, detail.id)}}
                            <img class="img_small" id="img_{{detail.id}}"> <span>{{detail.name}}</span>
                        </td>
                        <td>
                            <span>{{detail.dependsOn}}</span>
                        </td>
                        <td>
                            <!-- <a ng-href="#/techdetails/{{detail.tech_id}}">SAPUI5</a>-->
                            <button class="btn" go-click="/techdetails/{{detail.id}}/{{detail.name}}" title="Edit"
                                    data-target="#techdetails"><span
                                    class="glyphicon glyphicon-edit"></span></button>
                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
</div>

<!--    <div class="form-group">
           <label for="firstName" class="col-sm-3 control-label">First Name</label>
           <div class="col-sm-6">
               <input type="text" id="firstName" class="form-control" ng-model="student.firstName" />
           </div>
           <div class="col-sm-3"></div>
       </div>
       <div class="form-group">
           <label for="lastName" class="col-sm-3 control-label">Last Name</label>
           <div class="col-sm-6">
               <input type="text" id="lastName" class="form-control" ng-model="student.lastName" />
           </div>
           <div class="col-sm-3"></div>
       </div>

       <div class="form-group">
           <label for="dob" class="col-sm-3 control-label">DoB</label>
           <div class="col-sm-2">
               <input type="date" id="dob" class="form-control" ng-model="student.DoB" />
           </div>
           <div class="col-sm-7"></div>
       </div>-->
<!-- <div class="col-sm-7">
        <span><b>Main Subjects</b></span>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="student.maths" />Maths</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="student.physics" />Physics</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"  ng-model="student.chemistry" />Chemistry</label>
        </div>
    </div>-->